{
    "presets":[
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 5 versions",
                        "> 0.25%"
                    ]
                }
            }
        ]
    ]
}